<app-dialog-base
  titulo="Histórico"
  (fechar)="cancelar()"
>

  <div class="container">

    <div class="cliente-info">
      <span>Histórico do cliente</span>

      <strong>
        {{ cliente.nome }}
      </strong>
    </div>


    <div
      class="historico-item"
      *ngFor="let item of historico"
    >

      <div class="historico-data">
        {{ item.data | date:'dd/MM/yyyy HH:mm' }}
      </div>

      <div class="historico-conteudo">

        <strong>
          {{ item.tipo }}
        </strong>

        <p>
          {{ item.descricao }}
        </p>

      </div>

    </div>


    <div
      class="sem-historico"
      *ngIf="historico.length === 0"
    >
      Nenhum histórico encontrado.
    </div>

  </div>


  <div dialog-actions>

    <button
      mat-stroked-button
      type="button"
      (click)="cancelar()"
    >
      Fechar
    </button>

  </div>

</app-dialog-base>