<div class="login-container">

  <mat-card class="login-card">

    <div class="login-header">
      <div class="logo">
        <mat-icon>content_cut</mat-icon>
      </div>

      <h1>BARBEARIA</h1>
      <p>Gestão completa para seu negócio</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>

        <input
          matInput
          type="email"
          placeholder="Digite seu e-mail"
          formControlName="email"
        >

        <mat-icon matSuffix>mail_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>

        <input
          matInput
          type="password"
          placeholder="Digite sua senha"
          formControlName="senha"
        >

        <mat-icon matSuffix>lock_outline</mat-icon>
      </mat-form-field>

      <!-- PROGRESSO -->
      <mat-progress-bar
        *ngIf="carregando"
        mode="determinate"
        [value]="progresso">
      </mat-progress-bar>

      <button
        mat-raised-button
        type="submit"
        class="login-button"
        [disabled]="carregando"
      >
        <mat-icon>login</mat-icon>

        {{ carregando ? 'Entrando...' : 'Entrar' }}
      </button>

    </form>

  </mat-card>

</div>