<app-dialog-base
  titulo="Adicionar cliente"
  (fechar)="cancelar()"
>

  <!-- FORMULÁRIO -->

  <form
    [formGroup]="clienteForm"
    (ngSubmit)="salvar()"
  >

    <div class="field">

      <label>Nome completo</label>

      <input
        matInput
        type="text"
        placeholder="Digite o nome completo"
        formControlName="nome"
      >

      <span
        class="error"
        *ngIf="
          clienteForm.get('nome')?.invalid &&
          clienteForm.get('nome')?.touched
        "
      >
        Nome é obrigatório
      </span>

    </div>


    <div class="field">

      <label>E-mail</label>

      <input
        matInput
        type="email"
        placeholder="exemplo@email.com"
        formControlName="email"
      >

      <span
        class="error"
        *ngIf="
          clienteForm.get('email')?.invalid &&
          clienteForm.get('email')?.touched
        "
      >
        Informe um e-mail válido
      </span>

    </div>


    <div class="field">

      <label>Data de nascimento</label>

      <input
        matInput
        type="text"
        inputmode="numeric"
        maxlength="10"
        placeholder="dd/mm/aaaa"
        formControlName="dataNascimento"
        (input)="formatarData($event)"
      >

    </div>


    <div class="field">

      <label>Telefone</label>

      <input
        matInput
        type="tel"
        placeholder="(00) 00000-0000"
        formControlName="telefone"
      >

      <span
        class="error"
        *ngIf="
          clienteForm.get('telefone')?.invalid &&
          clienteForm.get('telefone')?.touched
        "
      >
        Telefone é obrigatório
      </span>

    </div>

  </form>


  <!-- BOTÕES -->

  <div dialog-actions>

    <button
      mat-stroked-button
      type="button"
      class="btn-fechar"
      (click)="cancelar()"
    >
      Voltar
    </button>


    <button
      mat-flat-button
      type="button"
      class="btn-adicionar"
      [disabled]="clienteForm.invalid"
      (click)="salvar()"
    >
      Adicionar
    </button>

  </div>

</app-dialog-base>