.navbar {
  height: 76px;
  padding: 0 28px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  gap: 16px;
}

.menu-button {
  color: #1f2937;
}

.search-container {
  width: 500px;
  height: 42px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 14px;

  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 12px;

  color: #6b7280;

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;

    font-size: 14px;
    color: #374151;

    &::placeholder {
      color: #9ca3af;
    }
  }
}

.spacer {
  flex: 1;
}

.navbar-button {
  color: #1f2937;
}